streamlit>=1.34.0
PyPDF2
sentence_transformers
faiss-cpu
git+https://github.com/unifyai/langchain.git#egg=langchain&subdirectory=libs/langchain
git+https://github.com/unifyai/langchain.git#egg=langchain-unify&subdirectory=libs/partners/unify
langchain-community
langchain-pinecone