streamlit
PyPDF2
sentence_transformers==2.2.2
InstructorEmbedding
faiss-cpu
git+https://github.com/unifyai/langchain.git#egg=langchain&subdirectory=libs/langchain
git+https://github.com/unifyai/langchain.git#egg=langchain-unify&subdirectory=libs/partners/unify
langchain-community
